executor {
    name = 'sge'
    queueSize = 200
}

workDir = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step5_calcPrecisionAnRecall/work'

params {
    CNS_BEDs = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step5_calcPrecisionAnRecall/input/BEDs_simple'
    reference_BEDs = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step5_calcPrecisionAnRecall/input/reference'
    searchSpace = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step1_getGenomeSubspaces/scaffoldsRemoved/2kb_noncoding.bed'
    outdir = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step5_calcPrecisionAnRecall/output'
}

process {
    withName: calculateCoverage {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: combineStats {
        clusterOptions = '-l h_vmem=1G'
    }
}