executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/scratch/blsmaize/E002_V4-V5AssembCompar/masking_reboot/approach2_panGenLib/work'

params {
    input = '/scratch/blsmaize/E002_V4-V5AssembCompar/masking_reboot/approach2_panGenLib/input'
    outdir = '/scratch/blsmaize/E002_V4-V5AssembCompar/masking_reboot/approach2_panGenLib/results'
    maskerThreads = 12
    lastThreads = 8
}

process {
    withName: getGenomeFromHTML {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: runRepeatMasker {
        clusterOptions = '-pe serial 12 -l h_vmem=5G'
    }
    withName: runLAST {
        clusterOptions = '-pe serial 8 -l h_vmem=4G'
    }
    withName: processMaf {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: filterAndCastIntoBed {
        clusterOptions = '-l h_vmem=8G'
    }
    withName: mergeBedFiles {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: calcFinalStats {
        clusterOptions = '-l h_vmem=8G'
    }
}
