executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/scratch/blsmaize/E001_orthoFinderRuns/nextflow_implementation/work_Pac'

params {
    input = '/scratch/blsmaize/E001_orthoFinderRuns/nextflow_implementation/input_Pac'
    outdir = '/scratch/blsmaize/E001_orthoFinderRuns/nextflow_implementation/PacRes'
    orthoThreads = 7
}

process {
    withName: getHtmlProteome {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: getFileProteome {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: getPrimaryTranscripts {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: cleanProteome {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: runOrthoFinder {
        clusterOptions = '-pe serial 7 -l h_vmem=15G'
    }
    withName: cleanOrthoGroups {
        clusterOptions = '-l h_vmem=10G'
    }
}
