executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/analyzeBEDs_singleBLSCutoff/work'

params {
    input = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step5_runBlsOnHPC/output/Poa/2000up1000down/true/1degen/BEDOutput_conf90'
    outdir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/analyzeBEDs_singleBLSCutoff/output/Poa/conf90_BLS75'
    BLS = '75'
    fullBED = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/genomeSubspaces/2kb_noncoding.bed'
    intronBED = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/genomeSubspaces/2kb_introns.bed'
    UTR5BED = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/genomeSubspaces/2kb_5_UTR.bed'
    UTR3BED = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/genomeSubspaces/2kb_3_UTR.bed'
    nonGeneBED = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step7_analyzeBEDFiles/genomeSubspaces/2kb_nongene.bed'
    fullCov = '198486515'
    nongeneCov = '77736488'
    utr5Cov = '7764436'
    utr3Cov = '10421407'
    intronCov = '102786703'
}

process {
    withName: filterBEDs {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: calculateCoverage {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: gatherResults {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: getTargetGeneStats {
        clusterOptions = '-l h_vmem=1G'
    }
}
