executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/scratch/blsmaize/mapV4PeaksToV5/nextflow_implementation/work'

params {
    input = '/scratch/blsmaize/mapV4PeaksToV5/nextflow_implementation/input'
    outdir = '/scratch/blsmaize/mapV4PeaksToV5/nextflow_implementation/results'
    lastThreads = 10
}

process {
    withName: cutOutSequences {
        clusterOptions = '-l h_vmem=3G'
    }
    withName: mapToNewGenome {
        clusterOptions = '-pe serial 10 -l h_vmem=3G'
    }
    withName: processMaf {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: filterAndCastIntoBed {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: mergeBedFiles {
        clusterOptions = '-l h_vmem=1G'
    }
}
