executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step3_calculateCNSDataStats/work'

params {
    input_motifs = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step3_calculateCNSDataStats/input/inputBEDs'
    input_subSpace = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step3_calculateCNSDataStats/input/subspaces'
    outdir = '/ngsprojects/blsmaize/results/Footprinting_methods_comparison/step3_calculateCNSDataStats/output_CNSData'
}

process {
    withName: calculateCoverage {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: calculateSizeInfo {
        clusterOptions = '-l h_vmem=2G'
    }
}