executor {
    name = 'sge'
    queueSize = 50
}

workDir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step3_extractGeneDNASeqs/work'

params {
    input = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step3_extractGeneDNASeqs/temp_input'
    pyUtilDir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step3_extractGeneDNASeqs/PyUtils'
    outdir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step3_extractGeneDNASeqs/temp_results/15000up3000down'
    up_window = '15000'
    down_window = '3000'
}

process {
    withName: getPlazaFiles {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: getMaizeGDBFiles {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: filterGFF {
        clusterOptions = '-l h_vmem=15G'
    }
    withName: GetNbrhoodGFF {
        clusterOptions = '-l h_vmem=30G'
    }
    withName: GetNbrhoodFasta {
        clusterOptions = '-l h_vmem=30G'
    }
  }
