executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step6_compareWithKnownMotifs/work'

params {
    input = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step5_runBlsOnHPC/output_final/PoaPan/2000up1000down/true/tableOutput'
    outdir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step6_compareWithKnownMotifs/output_many2many_final/PoaPan/2000up1000down/true'
    precomputed = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step6_compareWithKnownMotifs/precomputedManyToMany_allMaize'
    chunkSize = '100'
    confRange = '75,100'
    blsThresholds = '0.75,0.85,0.9,0.93,0.96,0.98'
    motifDB = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step6_compareWithKnownMotifs/DB_allMaize/knownMaizeMotifDB_transfac.txt'
    familyDict = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step6_compareWithKnownMotifs/DB_allMaize/familyDict.pickle'
    famCountThreshold = '25'
}

process {
    withName: getNbOfMotifsInDB {
        clusterOptions = '-l h_vmem=1G'
    }
    withName: createFullTable {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: selectMotifs {
        clusterOptions = '-l h_vmem=15G'
    }
    withName: motifsToTransfac {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: comparePFMs {
        clusterOptions = '-l h_vmem=5G'
    }
    withName: updateNcorsAndCalculateMetrics {
        clusterOptions = '-l h_vmem=10G'
    }
}
