executor {
    name = 'sge'
    queueSize = 150
}

workDir = '/scratch/blsmaize/E015_bedFileAnalysis/nextflow_implementation/work'

params {
    input = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step5_runBlsOnHPC/output/Poa/2000up1000down/true/1degen/BEDOutput_conf85'
    outdir = '/scratch/blsmaize/E015_bedFileAnalysis/nextflow_implementation/output/Poa/2000up1000down/true/1degen/conf85'
    minBLS = 70
    maxBLS = 100
    fullGFF = '/scratch/blsmaize/E015_bedFileAnalysis/searchSpaceAnalysis/searchSpaceGFFs_zma_2000up_1000down/zma_2000up_1000down_fullSearchSpace.gff3'
    intronGFF = '/scratch/blsmaize/E015_bedFileAnalysis/searchSpaceAnalysis/searchSpaceGFFs_zma_2000up_1000down/zma_2000up_1000down_introns.gff3'
    nonIntronGFF = '/scratch/blsmaize/E015_bedFileAnalysis/searchSpaceAnalysis/searchSpaceGFFs_zma_2000up_1000down/zma_2000up_1000down_nonIntronSearchSpace.gff3'
}

process {
    withName: filterBEDs {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: calculateCoverage {
        clusterOptions = '-l h_vmem=15G'
    }
    withName: gatherResults {
        clusterOptions = '-l h_vmem=2G'
    }
    withName: getTargetGeneStats {
        clusterOptions = '-l h_vmem=1G'
    }
}
