executor {
    name = 'sge'
    queueSize = 50
}

workDir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step4_prepareBlsInput/work'

params {
    input = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step4_prepareBlsInput/input_15000up3000down_permSeqs/input_Pac'
    outdir = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step4_prepareBlsInput/results_15000up3000down_permSeqs/results_Pac'
    treeUtils = '/ngsprojects/blsmaize/results/BLSspeller_pipeline/step4_prepareBlsInput/PyUtils'
    createFalseOrthoGroups = 'True'
}

process {
    withName: addClusterInfo {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: makeOrthoFiles {
        clusterOptions = '-l h_vmem=10G'
    }
    withName: sortAndTarFiles {
        clusterOptions = '-l h_vmem=10G'
    }
}
